@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
:root{
    --primary: #d20101;
}

section{
    padding: 2.5em;
}

body{
    margin: 0;
    color: #fff;
    background: #000000;
    font-family:"Racing Sans One", sans-serif;
}
/*scrollbar*/
body::-webkit-scrollbar{
    width: 10px;/*thickness of the scrollbar*/
}

body::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}


body::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 7px;
    border: 2px solid rgb(0, 0, 0);
}

body::-webkit-scrollbar-button{
    display: none;
}


/*header*/
header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index:1000;
}
header::after{
    position: absolute;
    content: '';
    top:50%;
    transform: translateY(-50%);
    left:100px;
    height:5px;
    width:40%;
    background: linear-gradient(90deg, var(--primary), transparent);
}
.logo{
  font-size: 30px;
  color:#fff;
}
.logo img{
    max-width: 150px;
}

header .year{
    font-family: "Racing Sans One", sans-serif;
    font-size: 1em;
    color:#fff;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 40px;
}

header .menu{
    position: relative;
    height:30px;
    width:30px;
    background:url(images/menu-3-fill.png)no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}
header .menu.active{
    position: relative;
    height:35px;
    width:35px;
    background: url(images/close-line.png)no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}
/*Navigation*/
.nav{
    z-index: 200;
    position: absolute;
    right: 100px;
    top: 0;
    width: 30%;
    height:5px;
    border-bottom: 5px solid;
    border-image: linear-gradient( 90deg, transparent, var(--primary), var(--primary)) 30;
    background: transparent;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transform-origin: right;
}
.nav.active{
    top:100px;
    width: 40%;
    height: 100px;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, transparent, var(--primary), var(--primary), transparent) 30;
    border-bottom: none;
}
.nav li{
    position: relative;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: 0.5s;
}
.nav.active li{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.nav li a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 8px 20px;
    transition: 0.2s;
    cursor:pointer;  
}
.nav li a:hover{
    box-shadow: inset 0 0 20px rgba(222, 0, 0, 0.5);
}

/*banner*/
.banner{
    position: relative;
    width:100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}
.banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    background: radial-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}
.banner::before{
    position: absolute;
    content: '';
    top:25%;
    left:0;
    width:5px;
    height:40%;
    background: linear-gradient(var(--primary), var(--primary), transparent);
    z-index: 100;
}
/*background video*/
.banner .bg-video{
    display: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.banner .bg-video.active{
    display: block;
}
.banner .content{
    position: relative;
    max-width: 700px;
    padding-bottom: 50px;
    z-index: 100;
}
.banner .content h1{
    font-family:"Racing Sans One", sans-serif; 
    font-size: 9em;
    color: #fff;
    font-weight: 500;
    line-height: 0.8em;
    letter-spacing: 5px;
}
.banner .content .lexus{
    font-size: 4em;
    text-transform: uppercase;
    color: var(--primary);
    display: none;
}
.banner .content .lexus.active{
    display:block;
}
.banner .content p{
    color:#fff;
    font-size: 200;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.banner .content a{
    position: relative;
    width:200px;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    background: transparent;
    border-bottom: 3px solid;
    border-image:linear-gradient(90deg, transparent, var(--primary), var(--primary), transparent) 30;
    box-shadow: inset 0 0 10px rgba(222, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.banner .content a:hover{
box-shadow: inset 0 0 50px rgba(222, 0, 0, 0.5);
}
/*animation slid in left */
@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
.banner .content h1,
.banner .content p,
.banner .content .lexus,
.banner .content a{
    animation:slideInLeft 1s ease-in 1s 1 normal none;
}

/* Responsive Design */
@media (max-width: 600px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    header::after{
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--primary);
    }

    .logo {
        margin-top: 10px;
    }
    .nav{
        right:0;
        width: 100%;
    }
    .nav.active{
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-direction: column;
        /*border: none;*/
    }
    .banner{
        padding: 120px 30px 100px;
    }
    .banner .contact{
        position: relative;
        padding: 50px 0 100px;
    }
    .banner .content h1{
        font-size: 3em;
    }
    .banner .contact .lexus{
        font-size: 1rem;
    }
    .banner .contact a{
        width: 150px;
        padding: 15px 25px;  
    }
}

/*about design section*/
.Design {
    min-height:100vh;
    position: relative;
    background-color: #000000;
}
.image {
    background-size: cover;
    display: none
}
/* Responsive design*/
@media screen and (max-width:767px) {
    .container2 {
        padding-bottom: 2rem
    }
}
@media screen and (min-width:768px) {
    .Design::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        position: absolute;
        background-color: #000000;
        opacity: .6
    }
}
.container {
    background-color: #000000;
    padding:20px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.container h1 {
    color: var(--primary);
    font-size: 35px;
    margin-bottom: 10px;
}
.container p {
    font-size: 18px;
    color: #cccccc;
    font-family: popins;
}
.container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 100vh;
    background-image: url(images/download\ \(2\).jpeg);
}
/* Responsive design*/
@media screen and (min-width: 1025px) {
    .container,
    .container2 {
        background-attachment: fixed;
    }
}


/*SPINDLE GRILLE section*/
.section3 {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    padding: 2rem;
}
.section3-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.title h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    color: var(--primary);
}
.title p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffffad;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}


/*L-HEADLIGHTS section*/
.section4 {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    padding: 2rem;
}
.section4-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.title1 h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    color: var(--primary);
}
.title1 p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffffad;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}


/*CHARACTERISTIC PROFILE section*/
.section5 {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    padding: 2rem;
}
.section5-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.title2 h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    color: var(--primary);
}
.title2 p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffffad;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}

/* Responsive for all -SPINDLE GRILLE - L-HEADLIGHTS - CHARACTERISTIC PROFILE*/
@media (max-width: 768px) {
    .section3, .section4, .section5 {
        grid-template-columns: 1fr; 
        gap: 3rem; 
        padding: 1rem; 
    }
    .title h2, .title1 h2, .title2 h2 {
        font-size: 40px; 
    }
    .title p, .title1 p, .title2 p {
        font-size: 15px; 
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .title h2, .title1 h2, .title2 h2 {
        font-size: 30px; 
    }
    .title p, .title1 p, .title2 p {
        font-size: 14px; 
    }
    .section3, .section4, .section5 {
        padding: 0.5rem; 
    }
}


/*other about design section*/
.future {
    min-height:100vh;
    position: relative;
    background-color: #000000;
}
.image1 {
    background-size: cover;
    display: none
}
/* Responsive design*/
@media screen and (max-width:767px) {
    .future-container {
        padding-bottom: 2rem
    }
}
@media screen and (min-width:768px) {
    .future::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        position: absolute;
        background-color: #000000;
        opacity: .6
    }
}
.container-5 {
    background-color: #000000;
    padding:25px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.container-5 h1 {
    color: var(--primary);
    font-size: 35px;
    margin-bottom: 10px;
}
.container-5 p {
    font-size: 18px;
    color: #cccccc;
    font-family: popins;
}
.future-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 100vh;
    background-image: url(images/download\(3\).jpeg);
}
/* Responsive design*/
@media screen and (min-width: 1025px) {
    .container-5,
    .future-container {
        background-attachment: fixed;
    }
}


/*footer*/
footer {
    padding: 80px 13% 70px;
    background-color: #000000; 
    
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    font-family: sans-serif;
    
}

.contact h4 {
    color: var(--primary);
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.contact li {
   margin-bottom: 16px;
   list-style-type: none;

}
.contact li a{
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
   

}
.contact li a:hover{
    transform: translateY(-3px) translateX(-5px);
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color: #fff;
    margin-left: 17px;
    transform: all .40s ease;
    text-decoration: none;
}
.footer-content{
    font-size: 20px;
    color:#fff;
    margin-bottom: 12px;
}
.last-img img{
    max-width: 150px; 
}

/* Responsive design */
@media (max-width:1690px){
    section{
        padding:50px 5% 40px;
    }
}@media (max-width:1120px){
    .footer{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
}@media (max-width:700px){
    .footer{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
}












